{% extends 'main/base.html' %}
{% load static %}
{% block content %}

    <!-- Advisors Section Start -->
    <div class="container-fluid blog py-5">
        <div class="container py-5">
            <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.2s" style="max-width: 800px;">
                <h4 class="text-primary">Our Advisors</h4>
                <h1 class="display-5 mb-4">Meet Our Expert Advisors</h1>
                <p class="mb-0">Our advisors are experts in their fields, offering you the best advice and support.</p>
            </div>
            <div class="owl-carousel blog-carousel wow fadeInUp" data-wow-delay="0.2s">
                {% for advis in advises %}
                    <div class="blog-item p-4">
                        <div class="blog-img mb-4">
                            <!-- Rasmni ko'rsatish -->
                            <img src="{{ advis.image }}" class="img-fluid w-100 rounded" alt="{{ advis.first_name }} {{ advis.last_name }}">
                        </div>
                        <!-- Ism, familiya va level -->
                        <h4 class="d-inline-block mb-3">{{ advis.first_name }} {{ advis.last_name }}</h4>
                        <!-- Level matnini URL bilan bog'lash -->
                        <p class="mb-2"><a href="{% url 'feature' %}" class="text-primary">{{ advis.level }}</a></p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Advisors Section End -->

{% endblock %}
