{% extends 'main/base.html' %}
{% load static %}
{% block content %}

    <!-- Services Start -->
    <div class="container-fluid service py-5">
        <div class="container py-5">
            <div class="row g-4">
                {% for serve in serves %}
                <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.6s">
                    <div class="service-item">
                        <div class="service-img">
                            <img src="{{ serve.image }}" class="img-fluid rounded-top w-100" alt="Image">
                        </div>
                        <div class="rounded-bottom p-4">
                            <a href="#" class="h4 d-inline-block mb-4">{{ serve.title }}</a>
                            <p class="mb-4">{{ serve.description }}</p>
                            <a class="btn btn-primary rounded-pill py-2 px-4" href="#">{{ serve.price }} $</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Services End -->

{% endblock %}
